<header class="header">
      <div class="header__nav">
        <nav class="nav">
          <div class="nav__brand">
            <h1>Isaac Kim</h1>
          </div>
          
          <div class="nav__list">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/aboutme">About Me</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/contact">Contact Me</a></li>
            </ul>
          </div>
        </nav>
      </div>
      
      <div class="hero">
        <div class="hero__title">
          <h2>
            <span class="letter">H</span>
            <span class="letter">e</span>
            <span class="letter">l</span>
            <span class="letter">l</span>
            <span class="letter">o</span>
            <span class="letter"> </span>
            <span class="letter">W</span>
            <span class="letter">o</span>
            <span class="letter">r</span>
            <span class="letter">l</span>
            <span class="letter">d</span>
          </h2>
        </div>
        <div class="hero__content">
          <div class="hero__image">
            <img src="./images/pfp.jpg" alt="profile picture">
          </div>
          <div class="hero__text">
            <h2>Introduction</h2>
            <p>
              Hi! I am Isaac, I am a software developer with 2+ years of experience building and 
              optimizing desktop and mobile applications. Strong in debugging, problem-solving, and collaboration.
              Mentor to students and contributor to open source. Committed to delivering high-quality, efficient solutions.
            </p>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="Prog-Language">
        <div class="Prog-Language__content">
          <div>
            <H2>Tools & Languages</H2>
            <p>These are the languages that I am fluent in and commonly use tools in my toolbox</p>
          </div>
          <div class="test">
            <img src="./images/java.svg" alt="Java">
            <img src="./images/csharp.svg" alt="c Sharp">
            <img src="./images/javascript.svg" alt="JavaScript">
            <img src="./images/deno.svg" alt="Denojs">
            <img src="./images/lua.svg" alt="Lua Language">
            <img src="./images/react.svg" alt="React.js">
            <img src="./images/python.svg" alt="Python">
            <img src="./images/springboot.svg" alt="Spring Boot">
            <img src="./images/mySQL.webp" alt="MySQL">
            <img src="./images/typescript.svg" alt="Typescript">
            <img src="./images/kotlin.svg" alt="Kotlin">
            <img src="./images/mongo.svg" alt="MongoDB">
            <img src="./images/express.svg" alt="Express.js">
            <img src="./images/androidstudio.svg" alt="Android Studio">
            <img src="./images/java.svg" alt="Java">
            <img src="./images/csharp.svg" alt="c Sharp">
            <img src="./images/javascript.svg" alt="JavaScript">
            <img src="./images/deno.svg" alt="Denojs">
            <img src="./images/lua.svg" alt="Lua Language">
            <img src="./images/react.svg" alt="React.js">
            <img src="./images/python.svg" alt="Python">
            <img src="./images/springboot.svg" alt="Spring Boot">
            <img src="./images/mySQL.webp" alt="MySQL">
            <img src="./images/typescript.svg" alt="Typescript">
            <img src="./images/kotlin.svg" alt="Kotlin">
            <img src="./images/mongo.svg" alt="MongoDB">
            <img src="./images/express.svg" alt="Express.js">
            <img src="./images/androidstudio.svg" alt="Android Studio"> 
          </div>
        </div>
      </section>
    </main>

