<header class="header">
  <div class="header__nav">
    <nav class="nav">
      <div class="nav__brand">
        <h1>Isaac Kim</h1>
      </div>    
      <div class="nav__list">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/aboutme">About Me</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact Me</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="hero">
    <div class="hero__title">
      <h2>Projects</h2>
      <p>These are some of the latest Projects that I have done in the past 2 years</p>
    </div>
  </div>
</header>
<section class="projects">
  <div class="projects__card projects__card--one">
    <img src="./images/rayban.svg" alt="rayban logo">
    <div class="project__card--text">
      <h2>Rayban Replica - Ecommerce Replica</h2>
      <a href="https://github.com/izzyswe/Rayban-Project">Github Repo</a>
      <p>Creating an Ecommerce website, using Rayban Glasses as inspiration</p>
    </div>
  </div>
  <div class="projects__card projects__card--two">
    <img src="./images/jobtracker.png" alt="rayban logo">
    <div class="project__card--text">
      <h2>Job Tracker - Job Application Tracker</h2>
      <a href="https://github.com/izzyswe/JobTracker">Github Repo</a>
      <p>Creating a Job Application Tracker, Making Excel Tracking Easier</p>
    </div>
  </div>
  <div class="projects__card projects__card--three">
    <img src="./images/beanvim.png" alt="rayban logo">
    <div class="project__card--text">
      <h2>BeanVim - Open source IDE</h2>
      <a href="https://github.com/izzyswe/BeanVim">Github Repo</a>
      <p>Creating an opinionated open source configuration for Neovim, Giving it a fully fledged IDE feel to it</p>
    </div>
  </div>
  <div class="projects__card projects__card--four">
    <img src="./images/lotte.svg" alt="rayban logo">
    <div class="project__card--text">
      <h2>Lotte - Ecommerce Replica</h2>
      <a href="https://github.com/izzyswe/SweetsWebsite">Github Repo</a>
      <p>Creating an Eccommerce website, using Rayban Glasses as inspiration</p>
    </div>
  </div>
</section>
<footer class="footer">
  <p>© 2025 Isaac Kim. All rights reserved. <a href="https://github.com/izzyswe">GitHub</a> <a href="https://www.linkedin.com/in/9-isaac-kim/">LinkedIn</p>
</footer>
