<div class="form">
<!--LOGO-->
<div class="form__card-logo">
  <div class="form__img">
    <img src="./images/logo.svg" alt="logo">
  </div>
  <div>
    <div class="form__header">
      <h1>Tweeting Stranger Things...</h1>
    </div>
    <div class="form__tagline">
      <h3>Join Today.</h3>
    </div>
  </div>
</div>

<!--SIGN IN-->
<div class="form__signin">
  <div class="form__signin--google">
    <a href="Twitter">Sign In With Google</a>
  </div>
  <div class="form__signin--github">
    <a href="Twitter">Sign In With Github</a>
  </div>
  <div class="form__signin--regular">
    <a href="/auth/login">Sign In</a>
  </div>
  <div>
    <h4>OR</h4>
  </div>
  <div class="form__signin--create">
    <a href="/auth/register">Create An Account</a> 
  </div>
</div>
