<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/javascripts/checkReg.js"></script>
  <script src="/javascripts/app.js"> </script>
  <script src="/javascripts/checkLogin.js"></script>
  <script src="/javascripts/postfunctions.js"></script>
</html>
